/*** global part */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #555;
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
}
/* Im not gonna use this because I want to unify every css into css.module
/* .clearFix::after {
  content: "";
  display: table;
  clear: both;
} */

/* .right {
  float: right;
} */

#red {
  color: #ff5049;
}
#red-focus:focus {
  border: 1px solid #ff5049;
}

/*** top part ******************************************************/
/*******************************************************************/
.top {
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(back.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.budget {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.budget_title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}

.budget_title_month {
  font-weight: 500;
  color: rgb(83, 146, 241);
}

.budget_value {
  font-weight: 500;
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 3px;
  color: rgba(253, 253, 24, 0.884);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(233, 218, 10);
}

.budget_income,
.budget_expenses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 325px;
  height: 40px;
  margin-bottom: 5px;
  background-color: #28b9b5;
  font-size: 17px;
  text-transform: uppercase;
}

.budget_income_text,
.budget_expenses_text {
  color: #555;
  margin-top: 1px;
  margin-left: 10px;
}

.income_result,
.Expenses_result {
  width: 150px;
  text-align: center;
  margin-right: 20px;
  letter-spacing: 1px;
}

.budget_income_value,
.budget_expenses_value {
  float: left;
}
.budget_income_percentage,
.budget_expenses_percentage {
  float: right;
  background-color: #254ed4;
  border-radius: 3px;
  padding-bottom: 1px;
}

.budget_expenses {
  background-color: #ff5049;
}

.budget_expenses_percentage {
  background-color: rgba(255, 255, 255, 0.2);
}

/*** Input part ******************************************************/
/*******************************************************************/
.add {
  padding: 15px;
  border-bottom: 1px solid #c0bfbf;
  background-color: #eceaea;
}

.add_container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.add_type {
  width: 55px;
  height: 40px;
  border: 1px solid #e7e7e7;
  font-size: 20px;
  color: inherit; /* refer to body's color*/
  margin-right: 10px;
  font-weight: 700;
}

.add_description,
.add_value {
  border: 1px solid #e7e7e7;
  color: inherit;
  font-family: inherit;
  font-size: 15px;
  width: 250px;
  margin-right: 10px;
  border-radius: 5px;
}

.add_description::placeholder {
  color: #8da6f8;
  font-weight: 500;
}
.add_value {
  width: 100px;
}
.add_value::placeholder {
  color: #c7ca1a;
  font-weight: 500;
}

.add_type:focus,
.add_description:focus,
.add_value:focus {
  outline: none;
  border: 1px solid #28b9b5;
  transition: border 0.5s;
}

.add_btn {
  border: none;
  font-size: 35px;
  color: #28b9b5;
  cursor: pointer;
  width: 10px;
  margin-top: 3px;
}
.add_btn:active {
  transform: translateY(2px);
  transition: transform 0.2s ease-in-out;
}
.add_btn:focus {
  outline: none;
}

/*** List part ******************************************************/
/*******************************************************************/
.spending_list {
  height: 60vh;
  display: flex;
  justify-content: center;
}

.income,
.expense {
  width: 300px;
  text-align: center;
  margin-right: 30px;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

.income_title {
  color: #c7ca1a;
}

.expense_title {
  color: #ff5049;
}
